.form-control {
    color: #03a9f4;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid#03a9f4;
    border-radius: 0;
}
.form-control:focus {
    outline: 0;
    box-shadow: none;
}
.light-blue-text {
    padding: 10px 15px;
}
.gray-bg{
    background-color: #fff;
    margin: 30px -30px;
    padding: 30px;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    height: 400px;
}
.green-btn{
    margin: 0 auto;
    display: block;
    margin-top: 50%;
    height: 70px;
    width: 120px;
    background: #37A000;
    border-radius: 7px;
    color: #fff;
    border-color: #37A000;
    font-size: 20px;
    font-weight: bold;
}
.mt-50{
    margin-top: 40%;
}
.right-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    background: #37A000;
    color: #fff;
    border-color: #37A000;
    height: 50px;
    width: 80px;
}
.my-select{
    width: 30%!important;
    float: left;
    margin-right: 15px!important;
}
.margin-height {
    clear: both;
    height: 40px;
}
   
