.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #000;
}
.navbar-dark .navbar-brand {
    color: #000;
}
.navbar.navbar-light .navbar-nav .nav-item>.nav-link:hover {
    background-color: rgba(0,0,0,.1);
    transition: .5s;
}
.clr{
    clear: both;
}
input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
  padding: 5px;
  font-size: 18px;
  line-height:24px;
  border:1px solid #ddd;
  border-radius:4px;
  
}
.navbar.navbar-light form .md-form input {
    border-bottom: none;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
}
.navbar.navbar-light form .md-form input:focus:not([readonly]) {
    border-color: none;
}
.md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=text]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]){
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: none;
}
.md-form{
    margin: 0;
}
.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
  
  .sidebar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .sidebar li a.active,.sidebar li a:hover {
    background-color:#e0e0e0!important;
    color: #000;
  }
  .sidebar li a:hover{
      background: rgba(0,0,0,.1);
      transition: .5s;
  }
  
  .sidebar li a:hover:not(.active) {
    background-color: #fff;
    color: #000;
  }
  #body-content{
      margin-top: 80px;
  }
  .custom-fixed-top-left{
    position:fixed;
    left:10px;
    top:100px;
  }
  .custom-fixed-top-right{
    position:fixed;
    right:10px;
    top:100px;
  }
  .main-content{
      top: 20px;
      left: 20%;
  }
.service-headline{
    display: inline;
    
    margin: 5px 0;
}
.controls-top.margin-right {
    position: absolute;
    right: 0;
    top: 30px;
}
p.text-disable {
    color: #ca9a9a;
    font-size: 14px;
}
.my-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 5px 0 0 5px;
}
.clr{
    clear: both;
}

  @media (min-width: 768px){
    .col-md-4 {
        float: left;
    }
  }
